footer
{
text-align: center; 
    padding: 10px; 
    font-size: 70%; 
}
h2{
	color:rgb(255,255,255);
	text-align: center;
	background-color: rgb(34, 116, 172);
}
section{
	border: 1px solid solid #d4d4d4;
	border-radius: 5px;
	margin-top:10px;
}
